.container {
  background-image: url(/images/detailPagebackGround.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.img {
  width: 200px;
  margin: 30px;
  border-radius: 20px;
}

.h4 {
  text-align: justify;
  margin: 60px;
}

.items {
  background-color: rgba(2, 2, 2, 0.788);
  display: inline-block;
}
